.hide-display {
  display: none;
}

.hide-img {
  display: none;
}

#reset-btn {
  background-color: #852C15;
  color: white;
  font-size: 17px;
  margin-top: 1%;
  float: left;
}

#darkMode-btn {
  font-size: 17px;
  margin-top: 1%;
  float: right;
}

#lightMode-btn {
  font-size: 17px;
  margin-top: 1%;
  float: right;
  display: none;
}


#img {
  display: block;
  margin: auto;
  width: 50%;
  border: double 3px;
  border-color: black;
}


#display {
  float: right;
  text-align: right;
  border: 2px double;
  margin-left: 1%;
}

#form-box {
  border: 2px double;
  width: 50%;
  margin-right: 1%;
}

#C {
  display: block;
  margin: auto;
  width: 60%;
}

#JavaScript {
  display: block;
  margin: auto;
  width: 60%;
}

#Swift {
  display: block;
  margin: auto;
  width: 60%;
}

.submit {
  margin-top: -2%; 
  margin-bottom: 2%
}

#display {
  height: 20%;
  padding: 0;
}

.title {
  font-weight: 100;
  text-align: center;
}

.sub-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #852C15;
  text-decoration-thickness: 8px;
  text-align: center;
}


.question-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #852C15;
  text-decoration-thickness: 5px;
}

.question-title-dark {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #8948E9;
  text-decoration-thickness: 5px;
}
 h4 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
 }

 .languageDescription {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 100;
 }

 #img-display {
  display: none;
 }